
/* COLORES BACKGROUND DE TODAS LAS PAGINAS */

$colorIndex:#fffccb;
$colorNosotros:#f0fff7;
$colorExperiencias:#FCFEFD;
$colorContacto:#e8eeeb;
$colorAutomatizacion:red ;
$colorEnergias:rgb(55, 0, 255) ;
$colorTransmision:rgb(0, 255, 64) ;
$colorServicios:rgb(0, 183, 255) ;

