
/* COLORES BACKGROUND DE TODAS LAS PAGINAS */

$colorIndex:#fffef1;
$colorNosotros:#f0fff7;
$colorExperiencias:#FCFEFD;
$colorContacto:#e8eeeb;
$colorAutomatizacion:#e0f2ff;
$colorEnergias:#E8F8FE;
$colorTransmision:rgb(0, 255, 64) ;
$colorServicios:rgb(0, 183, 255) ;

/* PARRAFOS  */

$colorParrafoauto:rgb(237, 237, 237);